body {
  background-color: #e4e4e4;
  text-align: center;
  padding-bottom: 3rem;
}
.functionBox {
  display: inline-block;
  text-align: left;
  width: 60%;
  border-radius: 5px;
  background-color: #fff;
  color: #4a4a4a;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.buttonsBox {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.pure-button {
  margin: 0 auto;
  width: 40%;
}

#resultsArea {
  margin: 3rem;
  padding: 2rem;
  border: 1px solid grey;
  text-align: left;
}

h2 {
  text-align: center;
}
